<!DOCTYPE html>

<html>

<head>
  <title>Structure</title>
</head>

<body>
  <header>
    <h1>This is the Header!</h1>
  </header>

  <nav>
    <ol>
      <li>Home</li>
      <li>About</li>
      <li>Browse</li>
    </ol>
  </nav>

  <article>
    <h1>Article Title<h1>
    <section>
      <h3>Section Title</h3>
      <p>This is a paragraph. Well not really <br/>
      but you get the point.</p>

      <br/>
      <form method="post" action="/struc">
        <h4>Enter Details please.</h4>
        <input type="text" required placeholder="John Doe" name="userName"/>
        <br/>
        <input type="email" required placeholder="you@domain.com" name="email"/>
        <br/>
        <input type="url" placeholder="http://www.hello.com" name="url"/>
        <input type="submit" value="save"/>
      </form>

    </section>
  </article>

  <aside>
    <p>This is some text inside the sidebar.</p>
  </aside>

  <footer>
    <p>some footer text.</p>
  </footer>
</body>

</html>
